<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="sidenav" >
     <style>
    div.container {
      display:inline-block;
        white-space-collapsing:discard
        background:rgba(128,0,128,0.001);
    }
   div.amp{
       display: block;
       white-space-collapsing:discard
       font-size: 120px;
       text-align: center;
       color: azure;
       width: fit-content;
   }

  </style>
</div>

<!-- Page content -->
<div class="main">
  ...
</div>
 <title>Video Analysis</title>
</head>
<body bgcolor="purple">
	<div class="jumbotron">
	<div class="container">

 {% block body %}{% endblock %}
</div>
</div>
</body>
</html>